@font-face {
  font-family: "iconfont"; /* Project id 2877837 */
  src: url('iconfont.woff2?t=1634980115792') format('woff2'),
       url('iconfont.woff?t=1634980115792') format('woff'),
       url('iconfont.ttf?t=1634980115792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attachment:before {
  content: "\e667";
}

.icon-close:before {
  content: "\e668";
}

